/* Geral */

* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
    color: #333;
    box-sizing: border-box;
}

body {
    background-image: url(../img/bg.jpg);
    background-position: top center ;
    background-size: cover;
}

button {
    background-color: #FEFEFE;
    color: #0a2175;
    border: 2px solid #0a2175;
    border-radius: 7px;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.35s;
}

button:hover {
    background-color: #0a2175;
}

button:hover > i {
    color: #FFF;
}

button i {
    color: #0a2175;
    font-weight: bold;
    pointer-events: none; /* desabilita eventos de click no i, aplica no elemento acima dele*/
    transition: 0.25s;
}

input, select {
    padding: .25rem .5rem;
    outline: none;
    border-radius: 7px;
    border: 1px solid #858585;
    height: 31px;
    transition: .475s all;
}

input:hover, select:hover {
    box-shadow: 0px 0px 4px #93abff;
}

.hide {
    display: none;
}

/* Todo header*/
.todo-container {
    min-width: 410px;
    max-width: 475px;
    margin: 3rem auto;
    background-color: #f5f5f5;
    padding: 1.5rem;
    border-radius: 13px;
    box-shadow: 0px 0px 6.5px #0b2583;
    animation: fromBottom 1s .5s backwards;
    transition: .5s all;
}

.todo-container:hover {
    box-shadow: 0px 0px 5px #3659e9;
}

.todo-container header {
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #CCC;
}

/* Todo form*/

#todo-form, #edit-form {
    padding: 1rem;
    border-bottom: 1px solid #CCC;
}

#toolbar h4 {
    margin-bottom: .5rem;
}

#todo-form p, #edit-form p {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control {
    display: flex;
}

.form-control input {
    margin-right: .3rem;
    width: 50%;
}

#cancel-edit-btn {
    margin-top: 1rem;
    font-weight: bold;
}

/* To do toolbar*/

#toolbar {
    padding: 1rem;
    border-bottom: 1px solid #ccc;
    display: flex;
}

#search {
    border-right: 1px solid #DDD;
    padding-right: 1rem;
    margin-right: 1rem;
    width: 65%;
    display: flex;
    flex-direction: column;
}

#search form {
    display: flex;
}

#search input {
    width: 100%;
    margin-right: .3rem;
}

#filter {
    width: 35%;
    display: flex;
    flex-direction: column;
}

#filter select {
    flex: 1;
}

/* To do list*/

.todo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    border-bottom: 1px solid #DDD;
    transition: .6s;
}

.todo h3 {
    flex: 1;
    font-size: 0.9rem;
}

.todo button {
    margin-left: .4rem;
}

.done {
    background-color: #8892be;
}

.done h3 {
    color: rgb(214, 214, 214);
    text-decoration: line-through;
    font-style: italic;
}

.done-btn {
    background-color: #5c74ca;
    border: 1px solid #5c74ca;
}

/* animações */

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(230px);
        scale: 0.875;
        background-color: #0a2175;
    }

    to {
        opacity: 1;
        transform: translateY(0);
        scale: 1;
    }
}